.category-btn-div {
  width: fit-content;
  margin-left: 50px;
}

.category-btn-div > input {
  width: 100px;
  height: 45px;
  color: white;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-width: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.title > h2 {
  color: white;
  width: fit-content;
  margin: auto;
  background-color: saddlebrown;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.img-container > img {
  width: 300px;
}