body {
  background-image: url("../../../public/woodenpic.jpg");
}

.navbar-parent-div {
  background-color: saddlebrown;
  color: white;
  margin-bottom: 50px;
}

.nav-bar {display: flex;}
.nav-list {
  display: flex;
  list-style: none;
}

.brand-name {margin-left: 30px;}

.search-div {margin: auto;}
.search-div > input {
  width: 500px;
  padding: 10px;
}

.nav-login-btn-div { margin-top: 16px;}
.nav-login-btn-div > button {
  background-color: saddlebrown;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.logged-in-name {
  margin-top: 20px;
  border: none;
  color: white;
  background-color: saddlebrown;
  font-size: 15px;
  outline: none;
}

.nav-list > li {
  margin-right: 10px;
  cursor: pointer;
}

.cart-container {
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}

.cart-number {
  position: absolute;
  left: 13px;
  top: 17px;
}

.cart-icon {
  margin-top: 20px;
  font-size: 28px;
  color: black;
}

.main-body {
display: flex;
flex-wrap: wrap;
}

.specials-container,
.hats-container,
.shirts-container,
.belts-container,
.pants-container,
.foot-wear-container {
padding: 20px;
margin: auto;
}

.home-error-div {
  color: white;
  font-weight: 900;
}

.loading-div {
  margin: auto;
  color: white;
}

@media (max-width: 1090px) {
  .search-div > input {
    width: 90%;
  }
}