body {
  background-image: url("../../../public/woodenpic.jpg");
}

.navbar-parent-div {
  background-color: saddlebrown;
  color: white;
  margin-bottom: 50px;
}

.nav-bar {display: flex;}
.nav-list {
  display: flex;
  list-style: none;
}

.brand-name {margin-left: 30px;}

.search-div {margin: auto;}
.search-div > input {
  width: 500px;
  padding: 10px;
}

.nav-login-btn-div { margin-top: 16px;}
.nav-login-btn-div > button {
  background-color: saddlebrown;
  border: none;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.logged-in-name {
  margin-top: 20px;
  border: none;
  color: white;
  background-color: saddlebrown;
  font-size: 15px;
  outline: none;
}

.nav-list > li {
  margin-right: 10px;
  cursor: pointer;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 20px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.cart-container {
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}

.cart-number {
  position: absolute;
  left: 13px;
  top: 17px;
}

.cart-icon {
  margin-top: 20px;
  font-size: 28px;
  color: black;
}

.main-body {
display: flex;
flex-wrap: wrap;
}

.specials-container,
.hats-container,
.shirts-container,
.belts-container,
.pants-container,
.foot-wear-container {
padding: 20px;
margin: auto;
}

.home-error-div {
  color: white;
  font-weight: 900;
}

.loading-div {
  margin: auto;
  color: white;
}

@media (max-width: 1090px) {
  .search-div > input {
    width: 90%;
  }
}

@media (max-width: 920px) {
  .cart-container { margin-right: 60px;}
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-color: saddlebrown;
    text-align: right;
    box-shadow: 0px 0px 20px rgb(52 49 75 / 10%);
  }

  [aria-expanded="true"] ~ ul li {
    margin-right: 20px;
    color: white;
  }
}

@media (max-width: 610px) {
  .nav-bar {
    display: block;
    padding-top: 20px;
  }

  .nav-login-btn-div {
    width: fit-content;
    margin-left: auto;
  }

  .cart-container {
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
  }
  @media (max-width: 380px) {
    .specials-container,
    .hats-container,
    .shirts-container,
    .belts-container,
    .pants-container,
    .foot-wear-container {
    padding: 0;
    }
  }
}