.cartpage-back-btn {
  width: fit-content;
  margin-left: 50px;
}

.cartpage-back-btn > button {
  width: 100px;
  height: 45px;
  color: white;
  background-color: saddlebrown;
  border-color: saddlebrown;
  border-width: 5px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.component-div {display: flex;}

.product-container {display: flex;}

.img-container > img {
  width: 300px;
}